---

- name: Installing oh-my-zsh per user
  git:
    repo: https://github.com/robbyrussell/oh-my-zsh.git
    dest: "{{ item.home }}/.oh-my-zsh"
    update: "{{ users_oh_my_zsh_update }}"
    version: master
  with_items: "{{ users }}"

#- name: Unlink old symlink to .zshrc if exists
#  file:
#    path: "{{ item.home }}/.zshrc"
#    state: absent
#  with_items: "{{ users }}"

- name: Create a symbolic link to .zshrc
  file:
    src: "{{ item.home }}/dotfiles/.zshrc"
    dest: "{{ item.home }}/.zshrc"
    state: link
    force: yes
  with_items: "{{ users }}"

- name: Installing oh-my-zsh third party plugins
  git:
    repo: "{{ item.repo }}"
    dest: "{{ item.home }}/.oh-my-zsh/custom/plugins/{{ item.name }}"
    update: "{{ users_oh_my_zsh_update }}"
    version: master
  with_items:
    - { name: "zsh-autosuggestions", repo: "git@github.com:zsh-users/zsh-autosuggestions.git", home: "{{ users.home }}" }
    - { name: "sh-syntax-highlighting", repo: "git@github.com:zsh-users/zsh-syntax-highlighting.git", home: "{{ users.home }}" }
    - { name: "sh-history-substring-search", repo: "git@github.com:zsh-users/zsh-history-substring-search.git", home: "{{ users.home }}" }

- name: Installing zsh theme "pure"
  git:
    repo: https://github.com/sindresorhus/pure.git
    dest: "{{ item.home }}/.zsh/pure"
    update: "{{ users_oh_my_zsh_update }}"
    version: master
  with_items: "{{ users }}"